@font-face {
  font-family: "Montserrat";
  src: url("./../assets/police/static/Montserrat-Medium.ttf") format(truetype);
}
#section-logement {
  gap: 20px;
}
.logement-carroussel {
  width: 100%;
  height: 643px;
  position: relative;
}
.logement-information,.logement-information-autor {
  display: flex;
  font-family: Montserrat;
  color: rgba(255, 96, 96, 1);
  justify-content: space-between;
  flex-direction: column;
}
.logement-information-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;
}
.logement-information-location {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
}
.logement-information-container-host {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logement-information-container-host img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
p {
  margin: 0;
}
.logement-information-tag {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 33.6334px;
  flex-wrap: wrap;
}
.tag-span {
  background-color: rgba(255, 96, 96, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 25px;
  line-height: 19.86px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  min-width: 135px;
}
.logement-information-rating {
  display: flex;
  gap: 4px;
}
.logement-information-rating img {
  width: 36px;
  padding: 5px;
  box-sizing: border-box;
}
.logement-information-container-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logement-information-container-input > div{
  width: 100%;
  max-width: 582px;
}
.logement{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 830px) {
  .logement-information-container-input {
    gap: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .logement{
    flex-wrap:wrap;
  }
  .logement-information-autor{
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
  }
  .logement-carroussel{
    height: 335px;
  }
  .logement ,.logement-information{
    gap: 15px;
  }
}